@import 'tailwindcss';
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}

ul {
	list-style: disc;
	padding-left: 20px;
}

.navbar-site {
	padding: 10px 0;
	--navbar-height: auto !important;
}

.navbar-site header {
	display: flex;
	flex-wrap: wrap;
}

@keyframes fade-in-up {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-fade-in-up {
	animation: fade-in-up 0.3s ease-out;
}

@media (max-width: 550px) {
	.navbar-site header {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.navbar-site header ul {
		padding-left: 0;
	}
}
